@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

#banner{
    background-color: #F5F5F5;
    display: flex;
    margin: auto;
    margin-top: 36px;
    max-width: 1400;
    flex-direction: row;
    padding-left: 150px;
}

#banner .texts{
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    padding-left: 100px;
}

#banner .texts > h5{
    position: absolute;
    width: 300px;
    height: 24px;
    top: 318px;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #F6AA1C;
}

#banner .texts > h1{
    position: absolute;
    width: 510px;
    height: 132px;
    top: 355px;
    font-weight: 800;
    font-size: 64px;
    line-height: 66px;
    letter-spacing: 1px;
    color: #1F1F1F;
}

#banner .texts > p{
    position: relative;
    width: 495px;
    height: 68px;
    top: 320px;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.75px;
    color: #474747;
}

#banner .texts > button{
    position: relative;
    top: 380px;
    background: #C92071;
    border-radius: 8px;
}

#banner .texts > button{
    width: 40%;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.75px;
    color: #F5F5F5;
}

#banner .sneakers{
    position: relative;
}

#banner .sneakers > button{
    position: absolute;
    font-size: 12px;
}

#banner .ornament{
    position: absolute;
    width: 140px;
    height: 140px;
    left: 1650px;
    top: 250px
}

#banner .ornament > img{
    size: 100%;
    opacity: 0.6;
}