#banner{
    background-color: #F5F5F5;
    width: 100%;

    position: relative;
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 1025px) {
        flex-direction: column-reverse;
    }
}

#banner .texts{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0 8rem;
}

#banner .texts > h5{
    letter-spacing: 0.75px;
    color: #F6AA1C;
}

#banner .texts > h1{
    font-size: 50px;
    font-weight: 700;
    max-width: 480px;
    letter-spacing: 1px;
    color: #1F1F1F;
}

#banner .texts > p{
    max-width: 500px;
    letter-spacing: 0.75px;
    line-height: 1.8em;
    color: #474747;
}

#banner .texts > a{
    background: #C92071;
    border-radius: 8px;
    padding: 1rem 3rem;
    max-width: 12rem;
    margin-top: 1.5rem;

    letter-spacing: 0.75px;
    color: #F5F5F5;
}

#banner .sneakers{
    position: relative;
    width: 60%;
}

#banner .sneakers > img{
    max-width: 700px;
    width: 100%;
    aspect-ratio: 7/5.5;
}

#banner .ornament{
    position: absolute;
    right: 5%;
    top: 4rem;
}

#banner .ornament > img{
    size: 100%;
    opacity: 0.6;
}

#elipse{
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    bottom: 3rem;
}

#elipse button{
    color: #CCCCCC;
    cursor: pointer;
}

#elipse .active{
    color: #C92071;
}

