@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

header{
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 4rem 0;
    padding-bottom: 2rem;
}

#header-first-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

#logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    min-width: fit-content;
}

#logo > h1 {
    color: #c92071;
    font-weight: 600;
    font-size: 2.5rem;
}

header form {
    width: 100%;
    max-width: 60%;
    position: relative;
}

header form input {
    width: 100%;
    height: 60px;

    background-color: #F8F8F8;
    border-radius: 6px;
    color: #A0A0A0;
    font-size: 16px;
    padding: 24px;
}

header form input:focus {
    border: 2px solid #c92071;
    outline: none;
}

header form i {
    color: #A0A0A0;

    position: absolute;
    top: 50%;
    right: 1rem;

    transform: translateY(-50%);
}

#header-actions {
    min-width: fit-content;

    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#register {
    color: #474747;
    text-decoration: underline;
    letter-spacing: 1px;
}

#header-actions > button {
    width: 114px;
    height: 40px;
    background-color: #c92071;
    border-radius: 8px;
    font-weight: 700;
    color: white;
}

#header-actions > a > i {
    margin-left: 2rem;
    color: #c92071;
    font-size: 20px;
}

nav ul {
    display: flex;
    gap: 42px;
    position: relative;
}

nav ul li a {
    color: #A0A0A0;
}

nav ul li a#active {
    color: #c92071;
    font-weight: 700;
}

nav ul li a#active::after{
    content: "";
    background-color: #c92071;
    position: absolute;
    border-radius: 2px;
    width: 45px;
    height: 2px;
    top: 22px;
    left: 0px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F5F5F5;
}

section h2{
    display: flex;
    justify-self:flex-start;
    margin-left: 2rem;
    margin-bottom: 1em;
    color: #474747;
}

section h1{
    color: #1F1F1F;
}

section .destaque{
    display: flex;
    justify-content: center;
}
section .itens{
    display: flex;
    background-color: #D8E3F2;
    height: 251px;
    width: 385px;
    border-radius: 8px;
    margin-top: 4px;
    margin-right: 1em;
}

section span{
    background:#E7FF86;
    color:#474747;
    border-radius: 29px;
    padding: 5px;
}

section .itens button{
    width: 153px;
    height: 48px;
    border-radius: 8px;
    margin-top: 1em;
    background: #F5F5F5;
    color: #C92071;
    font-weight: bold;
}

section .itens img{
    display:block;
    position:static;
    width: 355px;
    height: 236px;
}

section .itens .informacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align:start;
    margin-left: 30px;
    width: 172px;
    
}

section h3{
    display: flex;
    justify-content: center;
    margin-top: 5em;
    color: #474747;
}

section .colecao{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 3em;
}

section .sessao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 3em;
    font-weight: bold;
    color:#474747;
}

section .produtosEmAlta{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

section .produtosEmAlta .produtos{
    Width:292px;
    Height:321px;
    margin-right: 1em;
    background:#FFFFFF;
}

section .produtosEmAlta p,h6{
    color: #474747;
    margin-top: 1em;
}

section .produtosEmAlta p{
    Width:180px;
    Height:38px;
}

section .produtosEmAlta .produtos{
    box-shadow: 6px 16ps 30px #69622625;
    border-radius: 4px;
    padding: 1em;
}

.desconto{
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    display: inline-flex;
}