@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

header{
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 4rem 0;
}

#header-first-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

#logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    min-width: fit-content;
}

#logo > h1 {
    color: #c92071;
    font-weight: 600;
    font-size: 2.5rem;
}

header form {
    width: 100%;
    max-width: 60%;
    position: relative;

}

header form input {
    width: 100%;
    height: 60px;

    background-color: #F8F8F8;
    border-radius: 6px;
    color: #A0A0A0;
    font-size: 16px;
    padding: 24px;
}

header form input:focus {
    border: 2px solid #c92071;
    outline: none;
}

header form i {
    color: #A0A0A0;

    position: absolute;
    top: 50%;
    right: 1rem;

    transform: translateY(-50%);
}

#header-actions {
    min-width: fit-content;

    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#register {
    color: #474747;
    text-decoration: underline;
    letter-spacing: 1px;
}

#header-actions > button {
    width: 114px;
    height: 40px;
    background-color: #c92071;
    border-radius: 8px;
    font-weight: 700;
    color: white;
}

#header-actions > a > i {
    margin-left: 2rem;
    color: #c92071;
    font-size: 20px;
}

nav ul {
    display: flex;
    gap: 42px;
    position: relative;
    padding-bottom: 2rem;
}

nav ul li a {
    color: #A0A0A0;
}

nav ul li a#active {
    color: #c92071;
    font-weight: 700;
}

nav ul li a#active::after{
    content: "";
    background-color: #c92071;
    position: absolute;
    border-radius: 2px;
    width: 45px;
    height: 2px;
    top: 22px;
    left: 0px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F5F5F5;
}

section h2{
    display: flex;
    justify-self:flex-start;
    margin-left: 8.2rem;
    margin-bottom: 1em;
    color: #474747;
}

section h1{
    color: #1F1F1F;
}

section .destaque{
    display: flex;
    justify-content: center;
}
section .itens{
    display: flex;
    background-color: #D8E3F2;
    height: 251px;
    width: 385px;
    border-radius: 8px;
    margin-top: 4px;
    margin-right: 1em;
}

section span{
    background:#E7FF86;
    color:#474747;
    border-radius: 29px;
    padding: 5px;
}

section .itens button{
    width: 153px;
    height: 48px;
    border-radius: 8px;
    margin-top: 1em;
    background: #F5F5F5;
    color: #C92071;
    font-weight: bold;
}

section .itens img{
    display:block;
    position:static;
    width: 355px;
    height: 236px;
}

section .itens .informacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align:start;
    margin-left: 30px;
    width: 172px;
    
}

section h3{
    display: flex;
    justify-content: center;
    margin-top: 5em;
    color: #474747;
}

section .colecao{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 3em;
}

section .sessao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 3em;
    font-weight: bold;
    color:#474747;
}

section .produtosEmAlta{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

section .produtosEmAlta .produtos{
    Width:292px;
    Height:321px;
    margin-right: 1em;
    background:#FFFFFF;
}

section .produtosEmAlta p,h6{
    color: #474747;
    margin-top: 1em;
}

section .produtosEmAlta p{
    Width:180px;
    Height:38px;
}

section .produtosEmAlta .produtos{
    box-shadow: 6px 16ps 30px #69622625;
    border-radius: 4px;
    padding: 1em;
}

.desconto{
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    display: inline-flex;
}

#special-ad {
    width: 100%;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6.7rem;

    padding: 6rem 15.9rem;
}

#special-ad > :first-child {
    position: relative;
}

#special-ad > :first-child img{
    position: relative;
    z-index: 1;
}

#circle {
    float: left;
    width: 466px;
    height: 466px;
    margin: 20px;
    border-radius: 50%;
    clip-path: inset(0px 0px 132px 0px);
    background-image: linear-gradient(180deg, #B5B6F2 0%, #EFEFFF 30%, #FFF 60%);

    position: absolute;
    top: -2.8rem;
    left: 3.9rem;
}

#aside-ad h5 {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #C92071;
}

#aside-ad h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    color: #474747;
    margin-top: 1rem;
}

#aside-ad p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin: 1rem 0rem;
}

#aside-ad button {
    background-color: #C92071;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;

    font-weight: 700;
    font-size: 14px;
    color: #f5f5f5;
}

@media screen and (max-width: 1025px){
    header form,
    #header-actions,
    nav{
        visibility: hidden;
    }

footer{
    background-color: #1F1F1F;
    position: relative;
    width: 100%;
    padding: 100px;
    display: flex;
    height: 454px;
    left: 0px;
    top: 0px;
}

.container .logo-wraper .logo{
    position: absolute;
    left: 100px;
    top: 100px;
}

.container .logo-wraper p{
    position: absolute;
    font-size: 16px;
    color: white;
    Width: 307px;
    Height: 150px;
    Top: 170px;
    Left: 100px;
}

.main-footer .logo-wraper ul{
    position: absolute;
    display: flex;
    list-style-type: none;
    top: 269px;
    gap: 35px;
}

.main-footer .nav-list-wraper a{
    color: white;
}

.main-footer .nav-list-wraper .navOne{
    position: absolute;
    width: 100px;
    height: 22px;
    left: 612px;
    top: 72px;
}

.main-footer .nav-list-wraper .navOne h5{
    font-size: 18px;
    color: white;
}

.main-footer .nav-list-wraper .navOne ul{
    font-size: 16px;
    justify-content: space-between;
    position: absolute;
    width: 160px;
    height: 228px;
    top: 35px;
    left: -10px;
}

.main-footer .nav-list-wraper .navOne ul li{
    padding: 10px;
}

.main-footer .nav-list-wraper .navTwo{
    position: absolute;
    width: 99px;
    height: 22px;
    left: 849px;
    top: 72px;
}

.main-footer .nav-list-wraper .navTwo h5{
    font-size: 18px;
    color: white;
}

.main-footer .nav-list-wraper .navTwo ul{
    font-size: 16px;
    position: absolute;
    width: 135px;
    height: 228px;
    top: 35px;
    left: -10px;
}

.main-footer .nav-list-wraper .navTwo ul li{
    padding: 10px;
}

.main-footer .nav-list-wraper .divContact{
    position: absolute;
    width: 99px;
    height: 22px;
    left: 1113px;
    top: 72px;
}

.main-footer .nav-list-wraper .divContact h5{
    font-size: 18px;
    color: white;
}

.main-footer .nav-list-wraper .divContact ul{
    position: absolute;
    top: 35px;
    left: -10px;
}

.main-footer .nav-list-wraper .divContact ul li{
    color: white;
    padding: 10px;
    width: 231px;
    height: 78px;
}

.main-footer .nav-list-wraper .rectangle .ret{
    position: absolute;
    width: 1240px;
    height: 1px;
    left: 100px;
    top: 384px;
}

.main-footer .nav-list-wraper .copyrights{
    color: white;
    font-size: 13px;
    line-height: 24px;
    position: absolute;
    width: 240px;
    height: 24px;
    left: 618px;
    top: 408px;
}