@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

header {
    max-width: 1400px;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 3rem;

    padding: 2rem 4rem 0;
}

#header-first-line {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 2rem;
}

#logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    min-width: fit-content;
}

#logo > h1 {
    color: #c92071;
    font-weight: 600;
    font-size: 2.5rem;
}

header form {
    width: 100%;
    max-width: 60%;
    position: relative;
}

header form input {
    width: 100%;
    height: 60px;

    background-color: #F8F8F8;
    border-radius: 6px;
    color: #A0A0A0;
    font-size: 16px;
    padding: 24px;
}

header form input:focus {
    border: 2px solid #c92071;
    outline: none;
}

header form i {
    color: #A0A0A0;

    position: absolute;
    top: 50%;
    right: 1rem;

    transform: translateY(-50%);
}

#header-actions {
    min-width: fit-content;

    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#register {
    color: #474747;
    text-decoration: underline;
    letter-spacing: 1px;
}

#header-actions > button {
    width: 114px;
    height: 40px;
    background-color: #c92071;
    border-radius: 8px;
    font-weight: 700;
    color: white;
}

#header-actions > a > i {
    margin-left: 2rem;
    color: #c92071;
    font-size: 20px;
}

nav ul {
    display: flex;
    gap: 42px;
    position: relative;
}

nav ul li a {
    color: #A0A0A0;
}

nav ul li a#active {
    color: #c92071;
    font-weight: 700;
}

nav ul li a#active::after{
    content: "";
    background-color: #c92071;
    position: absolute;
    border-radius: 2px;
    width: 45px;
    height: 2px;
    top: 22px;
    left: 0px;
}
